body{
    font-family:arial;
    background:linear-gradient(to right bottom, khaki, #8081ff, #a6ffb8, #dfff29);

}
img{
    filter : grayscale(100%);
    opacity : 50%;
}
img:hover {
    filter : saturate(150%);
    opacity : 100%;
}
table {
    margin: auto;
    font-size : 20px;
    text-align: center;
    border : 5px dashed black;
}
.title_table{
    background-color: #ace8bc;
}
.no{
    background-color:#ddf59a ;
}
.img{
    background-color: #ffe1b0;
    
}
.img img{
    width: 350px;
    height:350px;
}
.merek{
    background-color: #fcbfa9;
    color:#ffffff;
    font-weight:bold;
}
.ukuran{
    background-color: #ffffff;
}
.ukuran img{
    width: 250px;
    height:250px;
}